@using Microsoft.AspNetCore.Identity
@model RigetZooAdventures.Models.Tickets

@{
    ViewData["Title"] = "Details";
}

@if (Model.Username == User.Identity.Name)
{
    <h1>Details</h1>

    <div>
        <h4>Tickets</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BookedDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BookedDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Username)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Username)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Adults)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Adults)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Children)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Children)
            </dd>
            @if (Html.DisplayFor(model => model.IsEducation).ToString() == "True")
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IsEducation)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IsEducation)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.SchoolName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SchoolName)
                </dd>
            }
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ValidDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ValidDate)
            </dd>
        </dl>
    </div>

    <div>
        <p>Total Price: £@((Model.Adults * 10) + (Model.Children * 5)).00</p>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}
else
{
    <p><b>You aren't allowed access to this page. Ensure you're logged in with the correct account.</b></p>
}


